<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Login</th>
    <th scope="col">Email</th>
    <th scope="col">Status</th>
  </tr>
  </thead>
  <tbody>

  <tr *ngFor="let user of users; let i = index">
    <td>{{i}}</td>
    <td>{{user.username}}</td>
    <td>{{user.email}}</td>
    <td>{{user.role}} <i class="fa fa-briefcase fa-2x "></i></td>

  </tr>

  </tbody>
</table>
