<nav class="navbar navbar-toggleable-md navbar-inverse bg-primary">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Home</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Blog <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pszczoły</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Ptaki Ozdobne</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Galeria</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">Filmy</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/merovingian" routerLinkActive="active">Admin</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item" *ngIf="!isLoggedIn"><a class="nav-link" href="/register"><span
        class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li class="nav-item" *ngIf="!isLoggedIn"><a class="nav-link" href="/login"><span
        class="glyphicon glyphicon-log-in"></span> Login</a></li>
      <li class="nav-item" *ngIf="isLoggedIn"><a class="nav-link" href="/profil"><span
        class="glyphicon glyphicon-user"></span> {{username}}</a></li>
      <li class="nav-item" *ngIf="isLoggedIn"><a class="nav-link" (click)="deleteUser()"><span
        class="glyphicon glyphicon-user"></span>Wyloguj</a></li>

    </ul>
  </div>
</nav>

<!-- routing here -->
<router-outlet></router-outlet>
