.ct-widget.ct-ignition {
    left: 93%;
    position: fixed;
    top: 15%;
}

.ct-widget .ct-ignition__button--edit {
    background: #2980b9;
}

.ct-widget.ct-toolbox {
    left: 92.5% !important;
    position: fixed;
    top: 30% !important;
}