<div class="form-group row">
  <label for="example-datetime-local-input" class="col-2 col-form-label">Tytuł</label>
  <div class="col-9">
		<h1><input class="form-control" type="text" placeholder="tytuł" [(ngModel)]="mypost.title" ></h1>
  </div>
</div>

<div class="form-group row">
  <label for="example-datetime-local-input" class="col-2 col-form-label">Treść</label>
  <div class="col-9">
		<div data-editable data-name="main-content" (onSave)="onSave($event)" ></div>
  </div>
</div>

<div class="form-group row">
  <label for="example-datetime-local-input" class="col-2 col-form-label">Creation Time</label>
  <div class="col-9">
    <input class="form-control" type="datetime-local"  id="example-datetime-local-input" [(ngModel)]="mypost.creation_date">
  </div>
</div>


<div class="form-group row">
  <label for="example-datetime-local-input" class="col-2 col-form-label">Published from</label>
  <div class="col-9">
    <input class="form-control" type="datetime-local"  id="example-datetime-local-input" [(ngModel)]="mypost.published_from_date">
  </div>
</div>


<div class="form-group row">
  <label for="example-datetime-local-input" class="col-2 col-form-label">Published to</label>
  <div class="col-9">
    <input class="form-control" type="datetime-local"  id="example-datetime-local-input" [(ngModel)]="mypost.published_to_date">
  </div>
</div>

<div class="form-group row">
  <label for="example-datetime-local-input" class="col-2 col-form-label">Tags</label>
  <div class="col-9">
		<input class="form-control" type="text" placeholder="tags" [(ngModel)]="mypost.tags">
  </div>
</div>

<div class="form-group row">
  <label for="example-datetime-local-input" class="col-2 col-form-label">Author</label>
  <div class="col-9">
		<input class="form-control" type="text" placeholder="My" [(ngModel)]="mypost.author">
  </div>
</div>

<div class="form-group row">
  <label for="example-datetime-local-input" class="col-2 col-form-label">Podwieszony</label>
  <div class="col-9">
		 <input type="checkbox" class="form-check-input" id="pinned" [(ngModel)]="mypost.pinned">
  </div>
</div>


<div class="form-group">
    <label for="exampleFormControlSelect2">Example multiple select</label>
    <select class="form-control" id="exampleFormControlSelect2" [(ngModel)]="mypost.show">
      
	  <option value="-4">Admin only</option>
	  <option value="1">Guest</option>
	  <option value="2">User</option>
    </select>
</div>
  

