<div class="row">
  <div class="col-sm-2">
    <div class="sidebar-nav">
      <div class="navbar navbar-default" role="navigation">
        <div class="navbar sidebar-navbar">
          <ul class="nav navbar-nav">
            <li class="active"><a class="nav-link" routerLink='list-post' routerLinkActive="active">Pokaż Post</a></li>
            <li class="active"><a class="nav-link" routerLink='add-post' routerLinkActive="active">Dodaj Post</a></li>
            <li class="active"><a class="nav-link" routerLink='show-user' routerLinkActive="active">Użytkownicy</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>
  <div class="col-sm-10">
    <router-outlet></router-outlet>
  </div>
</div>
