<div class=”StatusComponent”></div>

<div class="row">
  <div class="col-md-4">
    <h1>Login</h1>
    <hr>
    <br>
    <form (ngSubmit)="onLogin()" novalidate>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="email" placeholder="enter email" [(ngModel)]="user.email"
               name="email" required="true">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" placeholder="enter password"
               [(ngModel)]="user.password" name="password" required="true">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
</div>
